.login-container {
  text-align: center;
  color: $grey;
  & .page-title {
    margin: 2.5rem;
  }
  & .card {
    background: $grey-background;
  }
  & button {
    border-radius: 0;
    font-weight: bold;
    margin: 2rem 0;
  }
  & h5 {
    margin: 1rem 0;
  }
}