.main-container {
	& a {
		display: flex;
		justify-content: flex-end;
		padding: 1rem 2rem 0 0;
		font-size: 1.25rem
	}
	& h1 {
		align-content: center;
		text-align: center;
		margin: 4.5rem 0;
		color: $grey;
		font-weight: bold;
	}
	& .list-container {
		align-content: center;
		background-color: $grey-background;	
	}

}